<div class="hero-full-screen">

  <div class="top-content-section">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><img src="https://vignette.wikia.nocookie.net/metalgear/images/a/af/FOXHOUNDPeacewalker.png/revision/latest?cb=20140208024901" alt="logo"></li>
          <li><a href="#">Platforms</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Mechs</a></li>
          <li><a href="#">Characters</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="middle-content-section">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Metal_Gear_Solid_logo.png" height="600" width="600" alt="logo"></li>
  </div>

  <div class="bottom-content-section" data-magellan data-threshold="0">
  </div>

</div>
