<% content_for(:background, "platforms") %>
<div class="center-block">
  <div class="breadcrumbs">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li class="disabled">Gene Splicing</li>
        <li>
          <span class="show-for-sr">Current: </span> Cloning
        </li>
      </ul>
    </nav>
  </div><div class="middle-content-section">
    <div class="middle-content-text">
      <h1>Platforms</h1>
      <ul>
        <% @platforms.each do |platform| %>
          <li><%= link_to platform.console, platform_path(platform) %></li>
        <% end %>
      </ul>

      <%= link_to "New Platform", new_platform_path %>
    </div>
  </div>
</div>
