<% content_for(:background, "platforms") %>
<a href="/">test</a>
<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Features</a></li>
  <li class="disabled">Gene Splicing</li>
  <li>
    <span class="show-for-sr">Current: </span> Cloning
  </li>
</ul>

<ul>
  <% @platforms.each do |platform| %>
    <li><%= link_to platform.console, platform_path(platform) %></li>
  <% end %>
</ul>

<%= link_to "New Platform", new_platform_path %>
