<% content_for(:background, "platforms") %>
<div class="center-block">
  <div class="breadcrumbs">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li class="disabled">Gene Splicing</li>
        <li>
          <span class="show-for-sr">Current: </span> Cloning
        </li>
      </ul>
    </nav>
  </div><div class="middle-content-section">
    <div class="middle-content-text">
      <% content_for(:background, "platforms") %>
      <h1><%= @platform.console %></h1>

      <p><%= link_to "Delete business", platform_path(@platform),
                              :data => {:confirm => "Are you sure?",
                                             :method => "delete"} %></p>

      <p><%= link_to "Return to platforms", platforms_path %></p>
    </div>
  </div>
</div>
