<% content_for(:background, "home") %>
<div class="home-middle-content-section">
  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Metal_Gear_Solid_logo.png" height="600" width="600" alt="logo"></li>
</div>
