<% content_for(:background, "characters") %>
<div class="center-block">
  <div class="breadcrumbs">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li class="disabled">Gene Splicing</li>
        <li>
          <span class="show-for-sr">Current: </span> Cloning
        </li>
      </ul>
    </nav>
  </div><div class="middle-content-section">
    <div class="middle-content-text">
      <h1>Characters</h1>

      <ul>
        <% @characters.each do |character| %>
          <li><%= link_to character.name, character_path(character) %></li>
        <% end %>
      </ul>

      <hr>

      <%= link_to "New Character", new_character_path %>
    </div>
  </div>
</div>
